body{font-family: manjari, monospace; sans-serif;}
*{box-sizing: border-box;}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ff9319;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f6ff02;
}

.mail-container {
  position: absolute;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  left: 30%;
  top: 5%;
}
.mail-header{
  position: fixed;
  font-family: manjari, monospace;
  font-size: 3.5em;
  color: #ff9319;
  font-weight: bold;
  left: 22%;
  top: 10%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
