.menu, .menu2, .menu3, .menu4{
  -webkit-transition: width 3s ease;
-moz-transition: width 3s ease;
-o-transition: width 3s ease;
-ms-transition: width 3s ease;
  transition: width 3s ease;
}
.menu-off{
  position: absolute;
  float: left;
  overflow: hidden;
  background:#000;
  height:480px;
  width: 1px;
  opacity: 0;
  left: 16.5%;
  top: 10px;
}

.about-page{
  position: fixed;
  background-color: #e6e9ef;
  width: 100%;
  height: 100%;
  padding:5px;
  display: none;
}

.portals{
  position: absolute;
  background:#fcb91b;
  width:900px;
  height:570px;
  padding:5px;
  left: 33%;
  top: 4%;
}
