.menu, .menu2, .menu3, .menu4{
  position: absolute;
  display: block;
  background:#000;
  height:480px;
  left: 16.5%;
  top: 10px;
  -webkit-transition: width 2s;
}

.about-page{
  position: fixed;
  background-color: #e6e9ef;
  width: 100%;
  height: 100%;
  padding:5px;
  display: none;
}

.portals{
  position: absolute;
  background:#fcb91b;
  width:900px;
  height:570px;
  padding:5px;
  left: 33%;
  top: 4%;
}
