.name{
  position: absolute;
  font-family: 'Source Code Pro','Inconsolata','Plaster','Bitter', monospace;
  font-size: 3em;
  color: #ff9319;
  left: 40%;
  top: 2%;
}
.hood{
  position: absolute;
  font-family: 'Days One', monospace;
  font-size: 3em;
    color: #000;
    top: 3%;
    left:8.3%;
}

.descr-1{
  position: absolute;
  font-family: 'bungee', monospace;
  font-size: 1.1em;
  color: black;
  left: 10%;
 bottom: 22%;
}
.descr-3{
  position: absolute;
  font-family: 'bungee', monospace;
  font-size: 3em;
  color: black;
  left: 9.8%;
  bottom: 13%;
}
.about-desc{
position: fixed;
font-family: manjari, monospace;
font-size: 1em;
color: black;
left: 40%;
top: 20%;
}

.bhc-content, .leeds-content, .notts-content, .essex-content{
  position: inherit;
  font-family: manjari, monospace;
  font-size: 1em;
  top: 10%;
}
.leeds-content, .bhc-content{
    color: white;
}.essex-content, .notts-content{
    color: black;
}
.hey{
  position: fixed;
  font-family: manjari, monospace;
  font-size: 5em;
  font-weight: bold;
  color: black;
  left: 14%;
  top: 16%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.journey{
  position: absolute;
   font-family: manjari, monospace;
   font-size: 4.4em;
   font-weight: bold;
   color: #00a4e5;
   left: 10%;
   top: 3%;
   -webkit-writing-mode: vertical-rl;
   writing-mode: vertical-rl;
   transform: rotate(180deg);

}
.room4-content{
  position: absolute;
  font-weight: bold;
  font-size: 0.9em;
  top: 10%;
  left: 20%;
}.room4-content2{
  font-size: 0.9em;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 38%;
}


.academic{
  position: absolute;
  font-family: manjari, monospace;
  font-size: 5em;
  font-weight: bold;
  color: #edf902;
  left: 15%;
  top:6%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.my-links:link{
  color: #00a4e5;
} .my-links:visited{
  color: blue;
}.my-links:hover{
  color: green;
}.my-links:active{
  color: green;
}
